<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="com.g6pay.sample"
      android:versionCode="1"
      android:versionName="1.0">
    <uses-sdk android:minSdkVersion="7" />
    
    
    <!--  *** G6 Specific Parameters *** -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <!--  *** End G6 Specific Parameters *** -->
    
    <application android:icon="@drawable/icon" android:label="@string/app_name">
    
    <!--  *** G6 Specific Parameters *** -->
        <activity android:name="com.g6pay.sdk.OffersWebView"
                  android:configChanges="keyboardHidden|orientation" />
        <meta-data android:name="G6_APP_ID" android:value="YOUR_APP_ID_HERE"/>
        <meta-data android:name="G6_SECRET_KEY" android:value="YOUR_SECRET_KEY_HERE"/>
        <meta-data android:name="G6_APP_ID" android:value="329"/>
        <meta-data android:name="G6_SECRET_KEY" android:value="7594d9ea086065971.26202589"/>
    <!--  *** End G6 Specific Parameters *** -->
    
        <activity android:name=".G6SampleActivity"
                  android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>